#editor configurations
.idea/

# OpenShift
infra/rolebinding.yaml
backend/manifests/secret.yaml
backend/manifests/configmap.yaml

# Playwright
node_modules/
frontend/test-results/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
